@model StrokePredictor_MVC_Core_.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/generalStyle.css" rel="stylesheet" />
    <link href="~/css/MobileStyles.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="admin-card form-horizontal">
            <h1>Forgot Password</h1>
            @Html.ValidationSummary(true, "", new { @class = "" })

            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                <div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="btn-container">
                <input type="submit" value="Create" class="btn btn-hero" />
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-regular btn-actionLinks" })
            </div>
        </div>
    }
</body>
</html>
